body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: var(--bg-color, #fafafa);
    color: var(--text-color, #000);
    transition: background-color 0.3s, color 0.3s;
}

:root {
    --bg-color-light: #fafafa;
    --text-color-light: #000;
    --bg-color-dark: #333;
    --text-color-dark: #fff;
}

.dark-mode {
    --bg-color: var(--bg-color-dark);
    --text-color: var(--text-color-dark);
}

.light-mode {
    --bg-color: var(--bg-color-light);
    --text-color: var(--text-color-light);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}

nav ul li a:hover, nav ul li a.active {
    border-bottom: 2px solid #FFF;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.skip {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus, .skip:active {
    position: fixed;
    left: 10px;
    top: 10px;
    width: auto;
    height: auto;
    overflow: visible;
    z-index: 1000;
    background-color: #fff;
    padding: 15px;
    border: 2px solid #4caf50;
    margin: 0;
    clip: auto;
}

.typewriter h1 {
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}
